:root{
  --table-color: #35654d;
  --btn-color: rgb(0,0,0);
  --hover-color: rgba(0, 0, 0, 0.7);
}

body{
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
}

.container img{
  width: 175px;
  padding: 30px
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--table-color);
  height: 100vh;
  width: 100%;
}

.playArea{
  display: flex;
  width: 100%;
}

.value{
  font-size: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.hand{
  display: flex;
  justify-content: center;
  border: 5px solid black;
  height: 300px;  
  width: 65%;
  margin: 20px;
  border-radius: 10px;
}

.btnCon{
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 1fr;
  width: 1000px;
  font-size: 25px;
  > div {
    display: grid;
    justify-items: space-between;
    align-items: center;
    justify-self: end;
    grid-template-columns: repeat(4, auto);
    // justify-self: end;
    width: 500px;
    #betAmount {
      text-align: end;
    }
  } 
  input {
    height: 33px;
    width: 120px;
    border: 2px solid var(--btn-color);
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    &::placeholder {
      font-size: medium;
    }
  }
}

.btn{
  justify-self: space-around;
  font-size: 20px;
  background-color: var(--btn-color);
  border: 2px solid var(--btn-color);
  color: white;
  border-radius: 10px;
  padding: 5px;
  b {
    justify-self: start;
  }
}

.btn:hover{
  background-color: var(--hover-color);
  border: 2px solid var(--hover-color);
}